<%= form_for @user, :url => {:action => 'create'} do |f| %>

  <% flash.each do |_name, msg| -%>
    <p><%= msg %></p>
  <% end -%>

  <table>
    <tr>
      <td><%= f.label :username %></td>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit 'Log In' %></td>
    </tr>
  </table>
<% end %>
