<h1>What
  <% if @is_an_owner %>
    You Listen to
  <% else %>
    <%= user.username %> Listens to
  <% end %>
</h1>
<table id="song_table">
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>YouTube URL</th>
    <% if @is_an_owner %>
      <th></th>
      <th></th>
    <% end %>
  </tr>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist %></td>
      <td><a href='<%= song.url %>'>Listen here</a></td>
      <% if @is_an_owner %>
        <td><%= link_to "Edit Song", [:edit, user, song] %></td>
        <td><%= button_to "Delete Song", [user, song], method: :delete, data: {confirm: "Are you sure?"} %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if @is_an_owner %>
  <%= link_to 'Add a New Song', new_user_song_path(user) %>
<% end %>