Songs List
<table>
  <th>
    <tr>
      <td>Title</td>
      <td>Artist</td>
      <td>YouTube URL</td>
      <td></td>
    </tr>
  </th>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist %></td>
      <td><a href='<%= song.url %>'>Listen here</a></td>
      <td><%= link_to "Edit Song", edit_song_path(song) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add a New Song', new_song_path %>