Songs List
<table>
  <th>
    <tr>
      <td>Title</td>
      <td>Artist</td>
      <td>YouTube URL</td>
      <td></td>
      <td></td>
    </tr>
  </th>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist %></td>
      <td><a href='<%= song.url %>'>Listen here</a></td>
      <td><%= link_to "Edit Song", [:edit, user, song] %></td>
      <td><%= button_to "Delete Song", [user, song], method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>

<% if session[:user_id] %>
<%= link_to 'Add a New Song', new_user_song_path(user) %>
<% end %>