<h1>What
  <% if @is_an_owner %>
    You Listen to
  <% else %>
    <%= user.username %> Listens to
  <% end %>
</h1>
<div id="main">
  <div id="songlist">
    <table id="song_table">
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>YouTube URL</th>
        <% if @is_an_owner %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
      <% @songs.each do |song| %>
        <tr>
          <td><%= song.title %></td>
          <td><%= song.artist %></td>
          <td>
            <button class="btn-primary" data-attribute="button" data-id="<%= song.youtube_id %>">
              Listen here
            </button>
          </td>
          <% if @is_an_owner %>
            <td><%= link_to "Edit Song", [:edit, user, song] %></td>
            <td><%= button_to "Delete Song", [user, song], method: :delete, data: {confirm: "Are you sure?"} %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <% if @avg_views %>
    <div id="statslist">
      <table id="stats_table">
        <tr>
          <td>Average Views for Songs</td>
          <td><%= number_with_delimiter(@avg_views, :delimiter => ',') %> views</td>
        </tr>
        <tr>
          <td>Average Like to All Ratings Ratio</td>
          <td><%= '%.2f' % @avg_likeratio %></td>
        </tr>
      </table>
    </div>
  <% end %>


  <br>
  <% if @is_an_owner %>
    <%= link_to 'Add a New Song', new_user_song_path(user) %>
  <% end %>
</div>

<hr><br>

<script>
  $(document).ready(function () {
    viewchart(<%= raw @song_titles %>, <%= @song_likes %>, <%= @song_views %>);
    Modal.initialize();
  });
</script>

<div id="view-count-chart"></div>
